* {
    margin: 0;
    padding: 0;
}

.spanDestaque {
    font-size: 1.375rem; /*22px*/
    font-weight: bold;
}
.spanMedio {
    font-size: 0.875rem; /*14px*/
    color: #616160;
}
.rodape {
    font-size: 0.625rem; /*10px*/
}

.divColunaEsquerdaFooter {
    padding-left: 15px;
}

.colunaEsquerdaFooter {
    padding-right: 15px;
}