html {
	height: 100%;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1rem; /*16px*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.height30 {
    height: 30px;
}

.row {
    width: 100%;
    margin: 0;
}
.textAlignCenter {
    text-align: center;
}
.content-home {
    height: calc(100vh - 50px);
}

.rodape {
    background-color: #162635;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    width: 100%;
    font-size: 0.875rem; /*14px*/
}
.spanDestaque {
    font-size: 1.75rem; /*28px*/
    font-weight: bold;
}
.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogoInicial {
    width: 100%;
    min-width: 250px;
    max-height: 450px;
}
.spanMedio {
    font-size: 1.125rem; /*18px*/
    color: #616160;
}
.spanPequeno {
    font-size: 0.875rem; /*14px*/
    color: #616160;
}
.imgIconesTelaInicial {
    width: 15px;
    margin: -10px 10px 0 0;
}
.linhaComInfos {
    background-color: #e9ecef63;
}
.aSubLink {
    text-decoration: underline;
}
.iconeEnvelope {
    width: 15px;
    margin: 0px 10px 0 0;
}

.divImgComMenu {
    width: 100%;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

.aStyle {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05053c;
    color: #fff !important;
    cursor: pointer;
}
    .aStyle:hover {
        background-color: #0968ce;
    }

.linhaMenu {
    display: flex;
    justify-content: space-around;
    background-color: #05053c;
}

.menuFixo {
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
}

.invisivel {
    opacity: 0;
}

.divImgsComDescricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px 30px;
    justify-content: space-between;
}

.marginImgA {
    margin: 10px 0 20px 0;
}

.margemFixar {
    margin-bottom: 40px;
}

.spanSaibaMais {
    background-color: #002753;
    color: #fff !important;
    padding: 14px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .07em;
    font-weight: 700;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
}

    .spanSaibaMais:hover {
        background-color: #05053c;
    }

.colunasFooter {
    display: grid;
    text-align: left;
    grid-gap: 10px;
}

.colunaEsquerdaFooter {
    padding-right: 80px;
    border-right: 1px solid #021221;
}

.spanDestaqueFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.inptFooter {
    border-radius: 5px;
    border: transparent;
    padding: 6px;
    background-color: #05131e;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0;
    color: #fff;
}

.btnEnviarOrcamento {
    cursor: pointer;
    background-color: #e78427;
    border: black;
    color: #fff;
    width: fit-content;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 1.125rem;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
}

.textareaFooter {
    height: 100px;
    resize: none;
}

.divAreasCobertas {
    display: flex;
    border-radius: 5px;
    border: transparent;
    background-color: #05131e;
    margin-bottom: 15px;
}

.divColunaEsquerdaFooter {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.divColunasEstadosAreasCobertas {
    display: grid;
    grid-gap: 15px;
    padding: 10px 26px 16px 20px;
    width: 138px;
}

.divCopyright {
    text-align: left;
    padding: 20px 15px;
}

.imgsSobre {
    min-width: 152px;
    width: 100%;
    max-width: 400px;
}

.p30e0 {
    padding: 30px 0;
}

.m20e0 {
    margin: 20px 0;
}

.m0e15 {
    margin: 0 15px;
}

.divSpanProdutosDestaque {
    color: #616160;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 1.25rem;
    border-bottom: 1px solid #616160;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.divColsProdutosDestaque {
    display: grid;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    min-width: 240px;
}

.btnComprar {
    cursor: pointer;
    background-color: #1BB258;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 10px 0;
    margin-top: 30px;
}

    .btnComprar:hover {
        background-color: #139447;
    }

.divProdutoEmDestaque {
    display: grid;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 3px;
}

.bordaCinza {
    border: 1px solid #a7a7a4;
}

.corFundoLinhaProdutosDestaque {
    background-color: #ececec;
}