<div class="rodape">
    <div class="row" style="padding: 40px 0 20px">
        <form class="col-sm-6 colunasFooter colunaEsquerdaFooter" (ngSubmit)="onSubmit()" #form="ngForm">
            <span class="spanDestaqueFooter">Fale Conosco</span>
            <span>Entre em contato conosco para um orçamento gratuito</span>
            <input class="inptFooter" [(ngModel)]="nome" name="nome" type="text" placeholder="Nome *" required />
            <input class="inptFooter" [(ngModel)]="email" name="email" type="email" placeholder="Email *" required />
            <input class="inptFooter" [(ngModel)]="assunto" name="assunto" type="text" placeholder="Assunto *" required />
            <textarea class="inptFooter textareaFooter" [(ngModel)]="descricao" name="descricao" placeholder="Mensagem *" required></textarea>
            <div class="flexEnd">
                <button class="btnEnviarOrcamento" [disabled]="!form.form.valid">
                    Enviar
                </button>
            </div>
        </form>
        <div class="col-sm-5 divColunaEsquerdaFooter">
            <span class="spanDestaqueFooter">Áreas cobertas</span>
            <span style="margin: 10px 0;">Como somos uma empresa baseada em São Paulo - SP, nós cobrimos toda a região Sudeste e entregamos para todo o Brasil</span>
            <div class="divAreasCobertas">
                <div class="row">
                    <div class="col-sm-4">
                        <span>São Paulo</span>
                    </div>
                    <div class="col-sm-4">
                        <span>Salvador</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Rio de Janeiro</span>
                    </div>
                    <div class="col-sm-4">
                        <span>Porto Alegre</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Brasília</span>
                    </div>
                    <div class="col-sm-4">
                        <span>Curitiba</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Belo Horizonte</span>
                    </div>
                    <div class="col-sm-4">
                        <span>Manaus</span>
                    </div>
                </div>
            </div>
            <div class="flexEnd" style="height: fit-content;">
                <a href="https://www.facebook.com/Vmip-Vendas-E-Manuten%C3%A7%C3%A3o-De-Instrumentos-De-Precis%C3%A3o-217503231761363/?eid=ARAU8yGIOIIV3eHdaxT_0a1NY4Bc97GqujXLUTe8G6iObUg1WXEeoNyrZPxMqs3jUuvk5eSchTesLB0O&timeline_context_item_type=intro_card_work&timeline_context_item_source=100005597798295&fref=tag" target="_blank">
                    <img src="../../assets/icones/facebook.svg" alt="Facebook" height="22"/>
                </a>
            </div>
        </div>
        <div class="col-sm-12 divCopyright">
            © Copyright – MF Support – Todos os direitos reservados
        </div>
    </div>
</div>