@media (max-width: 800px) {
    .divColunaEsquerdaFooter {
        padding-left: 15px !important;
    }
    
    .colunaEsquerdaFooter {
        padding-right: 15px !important;
    }

}

.rodape {
    background-color: #162635;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    width: 100%;
    font-size: 14px;
}

.colunasFooter {
    display: grid;
    text-align: left;
    grid-gap: 10px;
}

.colunaEsquerdaFooter {
    padding-right: 80px;
    border-right: 1px solid #021221;
}

.spanDestaqueFooter {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.inptFooter {
    border-radius: 5px;
    border: transparent;
    padding: 6px;
    background-color: #05131e;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0;
    color: #fff;
}

.btnEnviarOrcamento {
    cursor: pointer;
    background-color: #e78427;
    border: black;
    color: #fff;
    width: fit-content;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 16px;
}

    .btnEnviarOrcamento:disabled {
        opacity: 0.5;
        cursor: initial !important;
    }

.flexEnd {
    display: flex;
    justify-content: flex-end;
}

.textareaFooter {
    height: 100px;
    resize: none;
}

.divAreasCobertas {
    padding: 20px 5px 10px;
    border-radius: 5px;
    border: transparent;
    background-color: #05131e;
    margin-bottom: 15px;
    font-size: 12px;
}

.divAreasCobertas .row .col-sm-4 {
    margin-bottom: 10px;
    min-width: 110px;
}

.divColunaEsquerdaFooter {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.divCopyright {
    text-align: left;
    padding: 20px 15px;
}