<div class="row">
    <div class="col-sm-3 divEsquerda">
        <div style="margin-bottom: 3rem; width: 100%">
            <label>Cadastro</label>
            <button class="btnComAcao">
                <img src="../../assets/icones/mais-circulo.svg" height="21" alt="Adicionar produto VMIP" />
                Add Produtos
            </button>
            <button class="btnComAcao">
                <img src="../../assets/icones/mais-circulo.svg" height="21" alt="Adicionar categoria VMIP" />
                Add Categoria
            </button>
        </div>
        <div style="margin-bottom: 3rem;">
            <label>Resumo</label>
            <button class="btnComAcao">
                <img src="../../assets/icones/icn_vendas_vmip.png" height="24" alt="Todos os produtos VMIP" />
                Vendas
            </button>
            <button class="btnComAcao">
                <img src="../../assets/icones/icn_todos_produtos_vmip.png" height="24" alt="Vendas VMIP" />
                Todos os produtos
            </button>
        </div>
        <button class="ultimoBtn">
            <img src="../../assets/icones/user.svg" height="32" style="margin-bottom: 5px;" alt="" />
            MINHA CONTA
        </button>
    </div>
    <div class="col-sm-9">
        Olá, {{usuario.nome}}
    </div>
</div>