.divEsquerda {
    background-color: #05053c;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    max-width: 210px;
}

.divEsquerda div label {
    width: 100px;
    border-bottom: 1px solid;
    margin-bottom: 2.5rem;
}

.btnComAcao {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
}

.btnComAcao:hover, .ultimoBtn:hover {
    text-decoration: underline;
    transform: scale(1.02);
}

.btnComAcao img {
    margin: 0 10px 6px 0;
}

.ultimoBtn {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
}