.content {
    color: #05053c;
    padding: 0 50px 30px;
}

.content h5 {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.content p {
    margin-top: .5rem;
    font-size: 10px;
}

.content form {
    max-width: 550px;
    width: 100%;
    background: #fff;
    padding: 25px 5px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
    -moz-box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
    box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
}

.content form input {
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0;
    height: 30px;
    width: 100%;
}

.content form button {
    background: #002753;
    height: 30px;
    border: 0;
    border-radius: 4px;
    padding: 0 20px;
    width: fit-content;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.content form button:enabled:hover {
    background-color: #05053c;
}

.content form button:disabled {
    opacity: 0.5;
    cursor: initial;
}