<div class="content">
    <h5>Complete os dados para realizar o cadastro:</h5>
    <form (ngSubmit)="salvar()" #form="ngForm">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" name="nome" [(ngModel)]="usuario.nome" placeholder="Nome" required />
            </div>
            <div class="col-sm-6">
                <input type="text" name="sobrenome" [(ngModel)]="usuario.sobrenome" placeholder="Sobrenome" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="E-mail" required />
            </div>
            <div class="col-sm-6">
                <input type="password" name="senha" [(ngModel)]="usuario.senha" placeholder="Senha" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button [disabled]="!form.form.valid || !value">Salvar</button>
            </div>
            <div class="col-sm-12">
                <p>
                    Ver o contrato da VMIP<br>
                    Ao cadastrar-me, declaro que sou maior de idade e aceito as Políticas de privacidade e os Termos e condições da VMIP
                </p>
            </div>
            <div class="col-sm-12">
                <p-checkbox name="value" [(ngModel)]="value" binary="true"></p-checkbox>
            </div>
        </div>
    </form>
</div>