.content {
    color: #05053c;
    padding: 0 50px 30px;
}

.content h5 {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.content p {
    margin-top: .5rem;
    font-size: 10px;
}

.content form {
    max-width: 300px;
    width: 100%;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    -webkit-box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
    -moz-box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
    box-shadow: 2px 5px 8px 0px rgba(153,145,153,0.75);
}

.content form label {
    font-weight: bold;
    margin-bottom: 8px;
}

.content form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 40px;
    padding: 0 15px;
}

.content form button {
    background: #002753;
    height: 30px;
    border: 0;
    border-radius: 4px;
    padding: 0 20px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.content form button:enabled:hover {
    background-color: #05053c;
    text-decoration: none !important;
}

.content form button:disabled {
    opacity: 0.5;
    cursor: initial;
}

.content button {
    margin-top: 15px;
    background: transparent;
    border: 0;
    color: #05053c;
    font-weight: bold;
    font-size: 12px;
}

.content button:enabled:hover {
    text-decoration: underline;
}