<div class="content">
    <h5>Faça o login com a sua conta:</h5>
    <form action="">
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="E-mail" [(ngModel)]="usuario.email" />
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Senha" [(ngModel)]="usuario.senha" />
        <button (click)="logar()" [disabled]="usuario.email == '' || usuario.senha == ''">Avançar</button>
    </form>
    <button routerLink='cadastrar'>Cadastre-se</button>
</div>