<div class="row">
    <img src="../../assets/Banner.jpg" alt="Logo" id="idImgMenu" title="VMIP - Vendas e manutenção de instrumentos de precisão" class="imgLogoInicial"/>
    <div class="col-sm-12 linhaMenu" id="menuTopo">
        <a class="aStyle" routerLink="home">Home</a>
        <a class="aStyle" routerLink="servico">Serviços</a>
        <a class="aStyle" routerLink="sobre">Sobre</a>
        <a class="aStyle" routerLink="loja">Nossa Loja</a>
        <a class="aStyle" routerLink="contato">Contato</a>
        <a class="aStyle" routerLink="login" *ngIf="!mostrarMenu"><img src="../../assets/icones/user.svg" alt="Usuário" height="16"/>Login</a>
        <a class="aStyle" routerLink="perfil" *ngIf="mostrarMenu">Perfil</a>
    </div>
    <div class="compensarFixo"></div>
    <div id="idDivInvisivel" class="col-sm-12 invisivel">
        <h1 class="spanDestaque">Vendas e Manutenção de Instrumentos de Precisão</h1>
    </div>
</div>