@media (max-width: 723px) {
    .aStyle {
        font-size: 10px !important;
    }

    .aStyle img {
        height: 12px !important;
        top: 0 !important;
        left: -4px !important;
    }

}

.linhaMenu {
    display: flex;
    justify-content: space-around;
    background-color: #05053c;
    height: 45px;
    top: 0;
    z-index: 9;
}

.aStyle {
    width: 100%;
    min-width: 50px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05053c;
    color: #fff !important;
    cursor: pointer;
}
    .aStyle:hover {
        background-color: #0968ce;
    }

.aStyle img {
    position: relative;
    left: -10px;
    top: -2px;
}

.imgLogoInicial {
    width: 100%;
    min-width: 250px;
    max-height: 450px;
}

.invisivel {
    opacity: 0;
    height: 48px;
}