@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #e9ecef63;
    width: 94%;
    margin: 0 auto;
}

body {
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.row {
    width: 100%;
    margin: 0;
}

.displayFlex {
    display: flex;
}