.linhaComInfos {
    background-color: #e9ecef63;
}

.divImgsComDescricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px 30px;
    justify-content: space-between;
}

.imgsSobre {
    min-width: 152px;
    width: 100%;
    max-width: 400px;
}

.spanMedio {
    font-size: 1.125rem; /*18px*/
    color: #616160;
}

.spanSaibaMais {
    background-color: #002753;
    color: #fff !important;
    padding: 14px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .07em;
    font-weight: 700;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
}

    .spanSaibaMais:hover {
        background-color: #05053c;
    }

.p30e0 {
    padding: 30px 0;
}

.m0e15 {
    margin: 0 15px;
}

.m20e0 {
    margin: 20px 0;
}

.divSpanProdutosDestaque {
    color: #616160;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 1.25rem;
    border-bottom: 1px solid #616160;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.divColsProdutosDestaque {
    display: grid;
    text-align: center;
    padding: 15px;
    justify-content: space-between;
    min-width: 240px;
}

.btnComprar {
    cursor: pointer;
    background-color: #1BB258;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 10px 0;
    margin-top: 30px;
    max-height: 41px;
}

    .btnComprar:hover {
        background-color: #139447;
    }

.divProdutoEmDestaque {
    display: flex;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 3px;
    flex-direction: column;
    justify-content: space-between;
}

.corFundoLinhaProdutosDestaque {
    background-color: #ececec;
}

.bordaCinza {
    border: 1px solid #a7a7a4;
}