<menu></menu>
<div class="row">
    <div class="col-sm-12">
        <div class="row linhaComInfos">
            <div class="col-sm-4 divImgsComDescricao">
                <div>
                    <div>
                        <img src="../../assets/inicio/topoSobreNos.png" title="Sobre nós" alt="Sobre nós" max-height="45" class="imgsSobre" />
                    </div>
                    <div href="" class="marginImgA">
                        <img src="../../assets/inicio/sobreNos.png" title="Sobre nós" alt="Sobre nós" width="100%" style="margin: 15px 0;"/>
                    </div>
                    <span class="spanMedio">
                        Quer conhecer um pouco mais sobre a VMIP? Confira uma história que vem sendo construída a mais de 10 anos 
                        e que não para de inovar na qualidade e atendimento rápido.
                    </span>
                </div>
                <a class="spanSaibaMais">
                    SAIBA MAIS
                </a>
            </div>
            <div class="col-sm-4 divImgsComDescricao">
                <div>
                    <div>
                        <img src="../../assets/inicio/topoContato.png" title="Contato" alt="Contato" max-height="45" class="imgsSobre" />
                    </div>
                    <div class="marginImgA">
                        <img src="../../assets/inicio/contato.png" title="Contato" alt="Contato" width="100%" style="margin: 15px 0;"/>
                    </div>
                    <span class="spanMedio">
                        Entre em contato conosco e realize um orçamento rápido com valores especiais para sua empresa.
                    </span>
                </div>
                <a class="spanSaibaMais">
                    SAIBA MAIS
                </a>
            </div>
            <div class="col-sm-4 divImgsComDescricao">
                <div>
                    <div>
                        <img src="../../assets/inicio/topoNossasOfertas.png" title="Nossas ofertas" alt="Nossa loja" max-height="45" class="imgsSobre" />
                    </div>
                    <div href="" class="marginImgA">
                        <img src="../../assets/inicio/nossasOfertas.png" title="Nossas ofertas" alt="Nossa loja" width="100%" style="margin: 15px 0;"/>
                    </div>
                    <span class="spanMedio">
                        Se é qualidade e preço baixo que está procurando, aqui é o lugar certo, acesse nossa loja online e compre já tudo que 
                        precisa em instrumentos de medição.
                    </span>
                </div>
                <a class="spanSaibaMais">
                    SAIBA MAIS
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row p30e0">
    <div class="col-sm-12">
        <div class="divSpanProdutosDestaque">PRODUTOS EM DESTAQUE</div>
    </div>
    <div class="row corFundoLinhaProdutosDestaque m0e15">
        <div class="col-sm-3 divColsProdutosDestaque">
            <div class="divProdutoEmDestaque">
                <div class="bordaCinza">
                    <img src="../../assets/produtos/produto1.jpg" alt="" width="100%" />
                </div>
                <span class="spanPequeno m20e0">
                    Relógio Comparador Digital ABSOLUTE 12,7mm 0,01mm ID-CX Tampa Lisa Com Preset 543-400B
                </span>
                <button class="btnComprar" ng-click="fazerOrcamento('Relógio Comparador Digital ABSOLUTE')">Faça um orçamento</button>
            </div>
        </div>
        <div class="col-sm-3 divColsProdutosDestaque">
            <div class="divProdutoEmDestaque">
                <div class="bordaCinza">
                    <img src="../../assets/produtos/produto2.jpg" alt="" width="100%" />
                </div>
                <span class="spanPequeno m20e0">
                    Cabeçote Digital Micrométrico 50mm/0,001mm – 164-163
                </span>
                <button class="btnComprar" ng-click="fazerOrcamento('Cabeçote Digital Micrométrico')">Faça um orçamento</button>
            </div>
        </div>
        <div class="col-sm-3 divColsProdutosDestaque">
            <div class="divProdutoEmDestaque">
                <div class="bordaCinza">
                    <img src="../../assets/produtos/produto3.jpg" alt="" width="100%" />
                </div>
                <span class="spanPequeno m20e0">
                    Paquímetro Digital ABSOLUTE 150mm 0,01mm Sem Saída de Dados 500-196-30B
                </span>
                <button class="btnComprar" ng-click="fazerOrcamento('Paquímetro Digital ABSOLUTE')">Faça um orçamento</button>
            </div>
        </div>
        <div class="col-sm-3 divColsProdutosDestaque">
            <div class="divProdutoEmDestaque">
                <div class="bordaCinza">
                    <img src="../../assets/produtos/produto4.jpg" alt="" width="100%" />
                </div>
                <span class="spanPequeno m20e0">
                    Traçador de Altura Digital 300mm 0,005mm Modelo Padrão Com Saída de Dados Para CEP 192-613-10
                </span>
                <button class="btnComprar" ng-click="fazerOrcamento('Traçador de Altura Digital')">Faça um orçamento</button>
            </div>
        </div>
    </div>
</div>